<!DOCTYPE html>
<html lang="en">
<head>
  {% include "admin/head.html" %}

  <!-- Data Tables CSS -->
  <link href="static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

  <!-- Data Tables Responsive CSS -->
  <link href="static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

</head>

<body>
  <div id="wrapper">
    {% include "admin/navigation.html" %}
  </div>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">List User Files</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            jgldajsfljal
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Delete</th>
                    <th>Download</th>
                  </tr>
                </thead>
                <tbody>
                  {% if tree.children %}
                    {% for item in tree.children %}
                      <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.size }}</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-default btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete{{ item.i }}"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Download"><button class="btn btn-default btn-xs" data-title="Download" data-toggle="modal" data-target="#download{{item.i}}" ><span class="glyphicon glyphicon-cloud-download"></span></button></p></td>
                      </tr>

                      <div class="modal fade" id="delete{{ item.i }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog">
                      <div class="modal-content">
                            <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                          <h4 class="modal-title custom_align" id="Heading">Delete</h4>
                        </div>
                            <div class="modal-body">

                         <div class="alert alert-danger text-center"><span class="glyphicon glyphicon-warning-sign"></span>  Are you sure you want to delete file {{ item.name }}?</div>

                        </div>
                          <form action="/delete" method="POST">
                          <div class="modal-footer ">
                          <input type="hidden" value={{ item.name }} name="filename">
                          <input type="hidden" value={{ foldername }} name="foldername">
                          <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                        </form>
                          </div>
                      <!-- /.modal-content -->
                      </div>
                        <!-- /.modal-dialog -->
                      </div>

                      <div class="modal fade" id="download{{item.i}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                            <div class="modal-dialog">
                          <div class="modal-content">
                                <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                              <h4 class="modal-title custom_align" id="Heading">Download</h4>
                            </div>
                            <div class="modal-body">
                              <div class="alert alert-info text-center"><span class="glyphicon glyphicon-info-sign"></span>  Are you sure you want to download {{item.name}}?</div>
                            </div>

                            <div class="modal-footer ">
                            <form action="/view-admin/{{item.name}}" method="POST">
                            <input type="hidden" value= {{ item.name }} name="filename">
                            <input type="hidden" value= {{ foldername }} name="foldername">
                            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                          </form>
                        </div>
                              </div>
                          <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                          </div>

                    {% endfor %}
                  {% else %}
                    <td colspan="7" style="text-align: center;">Tidak Ada Data File User</td>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "admin/jquery-js.html" %}
  <!-- DataTables JavaScript -->
  <script src="static/vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
  <script src="static/vendor/datatables-responsive/dataTables.responsive.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="static/dist/js/sb-admin-2.js"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true
      });
  });
  </script>
</body>
</html>
