<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.html" %}
</head>

<body>
  <!-- Navigation -->
  {% include "navigation.html"%}
  
  <h1>Upload</h1>
  </br>
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Ready To Upload a File</h3>
    </div>
    <div>
      <form action="upload_handling" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>
    <div>
    </br>
      <a href="/"><h3>Depan</h3></a>
      <a href="/files"><h3>List File</h3></a>
    </div>
  </div>

  <footer class="text-center">
      {% include "footer.html" %}
  </footer>

</body>
</html>
